.contentsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 28px;
}

.message {
  font-size: 14px;
  opacity: 0.6;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 14px;
  opacity: 0.5;
}

.providersWrapper {
  display: flex;
  gap: 10px;
}

.provider {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.providerName {
  font-size: 10px;
  width: 100%;
  opacity: 0.8;
}