.searchWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.resultsWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 65%;
}

.topic {
  font-size: 22px;
  font-weight: bold;
  margin-left: 5%;
}

.sectionWrapper {
  width: 100%;
  margin: 20px 0;
}

.readMoreWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 50px;
  cursor: pointer;
}